.App {
  height: 100vh;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#8b5a99+0,3f4c6b+100 */
  background: #8b5a99; /* Old browsers */
  background: -moz-linear-gradient(-45deg, #8b5a99 0%, #3f4c6b 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #8b5a99 0%,#3f4c6b 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #8b5a99 0%,#3f4c6b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8b5a99', endColorstr='#3f4c6b',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

